* {
    box-sizing: border-box;
}

/** --- HEADER --- **/
.navbar {
    background-color: #6F006A !important;
}

.navbar__logo {
    width: 100%;
    max-width: 200px;
}

/** --- CATEGORIAS --- **/

.category {
    height: 32vh;
    overflow: hidden;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.category img:hover {
    transform: scale(1.05);
}

/** -- PRODUCTOS --- **/
.product__box {
    border-color: #6f00695b !important;
    position: relative;
}

.product__box:hover {
    background-color: rgba(211, 211, 211, 0.281);
    transition: 0.2s;
}

.product__name {
    color: #6F006A;
    font-size: 1.35em;
}

.product__price {
    display: inline-block;
    animation: expandir 0.8s ease-in-out infinite alternate;
}

.product__price--noeffect {
    display: inline-block;
}

.individual_price {
    font-weight: bold;
    font-size: 1.45em;
    color: #6F006A;
}

.img_individualproduct {
    width: 100%;
    height: 32vh;
}

@keyframes expandir {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

.label__stock, .label__reserva, .label__agotado {
    position: absolute;
    z-index: 1;
    top: 15;
    right: 1;
    max-width: 50%;
    margin-top: 10px;
    padding: 2px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
    text-transform: uppercase;
    word-break: break-word;
}

.label_individual--stock, .label_individual--reserva, .label_individual--agotado {
    z-index: 1;
    padding: 4px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.15em;
    line-height: 1.4em;
    text-align: left;
    text-transform: uppercase;
    word-break: break-word;
}

.label__stock, .label_individual--stock {
    background-color: green;
}

.label__reserva, .label_individual--reserva {
    background-color: #6F006A;
}

.label__agotado, .label_individual--agotado {
    background-color: red;
}

.btn.btn_purple.disabled,
.btn.btn_purple:disabled {
    background-color: #6F006A;
    border-color: #6F006A;
}

/** --- COLOR PREFERENCES --- **/
.purple {
    color: #6F006A;
}

.bg_purple {
    background-color: #6F006A;
}

.btn_purple {
    background-color: #6F006A;
}

.btn_purple--dark {
    background-color: #951392;
}

.btn_purple--dark:hover {
    background-color: #560955;
    transition: 0.5s;
}

.btn_purple:hover {
    background-color: #951392;
    transition: 0.5s;
}

.btn_purple:active {
    background-color: #6F006A !important;
    border: 1px solid #6F006A !important;
}

.border_purple {
    border-color: #951392 !important;
    box-shadow: 0px 0px 5px 0.1px #6F006A;
}

.product-image {
    width: 100%;
}

.purple_line {
    width: 70%;
    color: #6F006A;
    background-color: #6F006A;
    margin: 0 auto;
    height: 2px;
}

.no_decoration {
    text-decoration: none;
}

.page-link:hover {
    background-color: #951392;
}

.active_link {
    background-color: #da1ddc;
}